name: New_repo

on:
  push:
    branches:
      - niks
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.15.0]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Create .env file Backend
        run: |
          echo "$DEV_ENV" >> ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/.env
        shell: bash
        env:
          DEV_ENV: ${{ secrets.ENV_FILE_DEV }}

      - name: Install dependencies
        run: cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/ && npm install

      - name: Build
        run: cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/ && npx webpack --mode production

      - name: a file added
        run: mkdir filearc
#      - name: Upload Artifact
 #       uses: actions/upload-artifact@v2
  #      with:
   #       name: Archive artifact
    #      path: /home/runner/work/
     #     retention-days: 30
          
#      - name: Download Artifact
 #       uses: actions/download-artifact@v2
  #      with:
   #       name: Archive artifact
    #      path: /home/runner/        
  Deployment:
      runs-on: ubuntu-latest
      needs: build 
      steps: 
      - uses: actions/checkout@v3
      - name: GitHub Action Deploy to WP Engine
        uses: wpengine/github-action-wpe-site-deploy@v3.1.1
        with:
        # Deploy vars 
          WPE_SSHG_KEY_PRIVATE1: ${{ secrets.WPE_SSHG_KEY_PRIVATE1 }} 
          WPE_ENV: pluginsuppostg
          run: |
                mkdir ~/.ssh
                 echo $WP_ENGINE_OPUC_GROUP | base64 --decode >> ~/.ssh/id_rsa
                 chmod 600 ~/.ssh/id_rsa
                 ssh-keyscan -H -p 22 git.wpengine.com >> ~/.ssh/known_hosts
          # Deploy Options
          SRC_PATH: "${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns"
          REMOTE_PATH: "wp-content/themes"
