name: New_repo
on:
  push:
    branches:
      - main
      - niks
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.15.0]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
        
      # for empty returns
      - name: Create .env file Backend for empty-returns
        run: |
          echo "$ENV_INTERNAL" >> ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/.env
          cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/ && npm install
          cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/ && npx webpack --mode production
          
          echo "$ENV_INTERNAL" >> ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/memory-game/.env
          cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/memory-game/ && npm install
          cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/memory-game/ && npx webpack --mode production
        shell: bash
        env:
          ENV_INTERNAL: ${{ secrets[github.ref_name] }}  
          
      - name: Upload Artifact of niks branch
        uses: actions/upload-artifact@v3
        with:
          name: Artifact File niks
          path: ./
          retention-days: 1
          
      - name: GitHub Action Deploy to WP Engine
        env: # Or as an environment variable
          WPE_SSHG_KEY_PRIVATE1: ${{ secrets.WPE_SSHG_KEY_PRIVATE1 }}
          PROD: tbsgameprod
          STAG: tbsgamestg
        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          cd $GITHUB_WORKSPACE
          git checkout $BRANCH_NAME
          if [ $BRANCH_NAME == "main" ]; then DEPLOY=${PROD}; elif [ $BRANCH_NAME == "niks" ]; then DEPLOY=${STAG};   else exit; fi
          mkdir ~/.ssh
          echo $WPE_SSHG_KEY_PRIVATE1 | base64 --decode >> ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H -p 22 git.wpengine.com >> ~/.ssh/known_hosts
          sudo rm -R .git
          git init .
          git add . --all
          git config --global user.email "git-actions@tru.agency"
          git config --global user.name "git-actions"
          git config --list
          git commit -m "GITHUB_SHA"
          git remote add production git@git.wpengine.com:production/${DEPLOY}.git
          git remote
          git push --force production master
          echo "Connecting to WP Engine..."              
