name: New_repo

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Create .env file Backend
        run: |
          echo "$DEV_ENV" >> ${{ github.workspace }}/.env
        shell: bash
        env:
          DEV_ENV: ${{ secrets.FILE_DEV_ENV }}

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build --if-present

  archive-build-artifacts:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create a temp artifact downloads folder
        run: mkdir downloads

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Archive artifact
          path: downloads/artifact
          retention-days: 30

      - name: Downloads
        run: echo "Perform downloads here"
        # Add your specific download steps here using the artifact downloaded
