name: New_repo

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.15.0]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Create .env file Backend
        run: |
          echo "$DEV_ENV" >> ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/.env
        shell: bash
        env:
          DEV_ENV: ${{ secrets.ENV_FILE_DEV }}

      - name: Install dependencies
        run: cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/ && npm install

      - name: Build
        run: cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/ && npx webpack --mode production

      - name: a file added
        run: mkdir filearc
#      - name: Upload Artifact
 #       uses: actions/upload-artifact@v2
  #      with:
   #       name: Archive artifact
    #      path: /home/runner/work/
     #     retention-days: 30
          
#      - name: Download Artifact
 #       uses: actions/download-artifact@v2
  #      with:
   #       name: Archive artifact
    #      path: /home/runner/        
  Deployment:
      runs-on: ubuntu-latest
      needs: build 
      steps: 
      - uses: actions/checkout@v3
      - name: Install SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.WPENGINE_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Set up known hosts
        run: |
          ssh-keyscan -t rsa sftp.wpengine.com >> ~/.ssh/known_hosts

      - name: Deploy to WP Engine
        env:
          WPENGINE_ENV: production
        run: |
          echo "Connecting to WP Engine..."
          git remote add wpengine ssh://git@sftp.wpengine.com/wp-content/themes
          git push wpengine
