name: New_repo

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.15.0]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Create .env file Backend
        run: |
          echo "$DEV_ENV" >> ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/.env
        shell: bash
        env:
          DEV_ENV: ${{ secrets.ENV_FILE_DEV }}

      - name: Install dependencies
        run: cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/ && npm install

      - name: Build
        run: cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/ && npx webpack --mode production

      - name: a file added
        run: mkdir filearc
#      - name: Upload Artifact
 #       uses: actions/upload-artifact@v2
  #      with:
   #       name: Archive artifact
    #      path: ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/
     #     retention-days: 30
          
#      - name: Download Artifact
 #       uses: actions/download-artifact@v2
  #      with:
   #       name: Archive artifact
    #      path: ./       
  Deployment:
      runs-on: ubuntu-latest
      needs: build 
      steps: 
      - uses: actions/checkout@v3
      - name: GitHub Action Deploy to WP Engine
        env: # Or as an environment variable
          WPE_SSHG_KEY_PRIVATE1: ${{ secrets.WPE_SSHG_KEY_PRIVATE1 }}
          STAG: pluginsuppostg
          CUSTOM_SSH_PORT: 22
          SRC_PATH: /home/runner/work/New_repo/New_repo/TBS-Gamification-dev/games-and-quizzes/empty-returns/
          REMOTE_PATH: /

        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          cd $GITHUB_WORKSPACE
          git checkout $BRANCH_NAME
          if [ $BRANCH_NAME == "main" ]; then DEPLOY=${STAG}; else exit; fi
          mkdir ~/.ssh
          echo $WPE_SSHG_KEY_PRIVATE1 | base64 --decode >> ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H -p 22 git.wpengine.com >> ~/.ssh/known_hosts
          # Deploy Options
          echo "Connecting to WP Engine..."
          rsync -r "ssh -i -p 22 ~/.ssh/id_rsa" ${{ github.workspace }}/ ${STAG}@${STAG}.ssh.wpengine.net:/home/wpe-user/sites/$STAG/
#          rsync -avz --delete -e "ssh -p $CUSTOM_SSH_PORT" "${{ env.SRC_PATH }}" "pluginsuppostg-Vaibhav@pluginsuppostg.sftp.wpengine.com:${{ env.REMOTE_PATH }}"
 #          SRC_PATH: ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/
  #         REMOTE_PATH: /
#          cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/
 #         git init
  #        git config --global user.email "vaibhav.singh@tru.agency"
   #       git config --global user.name "vaibhavsinghtru"
    #      git config --list
     #     git add . --all
      #    git commit -m "push all files"
       #   git remote add origin git@git.wpengine.com:pluginsuppostg.git
        #  git push origin main         
#         rsync -avz --delete "ssh -p 2222 ./ pluginsuppostg-Vaibhav@pluginsuppostg.sftp.wpengine.com:/          
 #         REMOTE_PATH: "wp-content/"
  #        git remote add wpengine ssh://git@sftp.wpengine.com/
   #      git push wpengine ${{ github.ref }}:main
    #     PHP_LINT: TRUE
      #    FLAGS: -azvr --inplace --delete --exclude=".*" --exclude-from=.deployignore
       #   SCRIPT: "path/yourscript.sh"
        #  CACHE_CLEAR: TRUE
