name: New_repo

on:
  push:
    branches:
      - main

jobs:
  build:
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.15.0]

    steps:
    
      - run: echo ${{ secrets[github.ref_name] }} | sed 's/./& /g'

      - run: echo ${{ secrets[github.ref_name] }} >> ${{ github.workspace }}/.env

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Archive artifact
          path: ./
          retention-days: 30
      
