name: New_repo

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Create .env file Backend
        run: |
          echo "$DEV_ENV" >> ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/.env
        shell: bash
        env:
          DEV_ENV: ${{ secrets.ENV_FILE_DEV }}

      - name: Install dependencies
        run: cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/ && npm install

      - name: Build
        run: cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/ && npx webpack --mode production

      - name: a file added
        run: mkdir filearc
#      - name: Upload Artifact
 #       uses: actions/upload-artifact@v2
  #      with:
   #       name: Archive artifact
    #      path: /home/runner/work/
     #     retention-days: 30
          
#      - name: Download Artifact
 #       uses: actions/download-artifact@v2
  #      with:
   #       name: Archive artifact
    #      path: /home/runner/        
  Deployment:
      runs-on: ubuntu-latest
      needs: build 
      steps: 
      - uses: actions/checkout@v3
      - name: GitHub Action Deploy to WP Engine
        uses: wpengine/github-action-wpe-site-deploy@v3.1.1
        with:
        # Deploy vars 
          WPE_SSHG_KEY_PRIVATE: ${{ secrets.WPE_SSHG_KEY_PRIVATE }} 
          WPE_ENV: pluginsuppostg
          script: chmod 600 /github/home/.ssh/github_action
          # Deploy Options
          SRC_PATH: "${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns"
          REMOTE_PATH: "wp-content/themes"
          PHP_LINT: TRUE
          FLAGS: -azvr --inplace --delete --exclude=".*" --exclude-from=.deployignore
   #       SCRIPT: "path/yourscript.sh"
          CACHE_CLEAR: TRUE
