
name: New_repo

on:
  push:
    branches:
      - main
      - niks
jobs:
  build:
    if: github.ref_name == 'niks'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.15.0]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
        
      # for empty returns
      - name: Create .env file Backend for empty-returns
        run: |
          echo "$ENV_INTERNAL" >> ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/.env
          cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/ && npm install
          cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/empty-returns/ && npx webpack --mode production
        shell: bash
        env:
          ENV_INTERNAL: ${{ secrets[github.ref_name] }}

      # for /memory-game/
      - name: Create .env file Backend for empty-returns
        run: |
          echo "$ENV_INTERNAL" >> ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/memory-game/.env
          cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/memory-game/ && npm install
          cd ${{ github.workspace }}/TBS-Gamification-dev/games-and-quizzes/memory-game/ && npx webpack --mode production
        shell: bash
        env:
          ENV_INTERNAL: ${{ secrets[github.ref_name] }}
          
      - name: Upload Artifact of niks branch
        uses: actions/upload-artifact@v3
        with:
          name: Archive artifact without env file on niks
          path: ./
          retention-days: 1  
